Flask
bcrypt
PyJWT

langchain
langchain-groq
langgraph
langchain-core
python-dotenv
requests
pydantic
wikipedia
jinja2
Werkzeug
itsdangerous
click
blinker
MarkupSafe
httpx
httpcore
anyio
sniffio
typing_extensions
annotated-types
pydantic_core